:root {
    --zoom-black: #000000;
    --zoom-success: #4CC800;
    --zoom-alert: #FF2335;
    --zoom-grey: #4A4A4A;
    --zoom-dark: #222222;
    --zoom-white: #ffffff;
}

/* Region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Endregion Common */

/* Region Utility */

.container {
    width: 90%;
    margin: auto;
    
}

.row {
    gap: 0.3rem;
}

.d-flex {
    display: flex;
}

.btn-up {
    background-color: var(--zoom-grey);
    color: var(--zoom-white);
    padding: 0.3rem;
    border-radius: 0.2rem;
    text-decoration: none;
    font-size: smaller;
    gap: 0.5rem;
}

.txt-center {
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.al-center {
    align-items: center;
}

.dir-col {
    flex-direction: column;
}

.g-0 {
    gap: 0.5rem;
}

.g-1 {
    gap: 1.5rem;
}

.f-small {
    font-size: small;
}

.f-25 {
    font-size: 25px;
}

.f-12{
    font-size: 12px
}

.p-0 {
padding: 0.5rem;
}

/* Endregion Utility */

/* Region Header */

#site_header {
    background-color: var(--zoom-black);
    height: 40px;
    width: 100%;
}

.buttons.d-flex {
    gap: 0.5rem;
    justify-content: flex-end;
    padding: 0.25rem;
}

/* Endregion Header */

/* Region Main */

#site_main {
    background-color: var(--zoom-black);
    padding-top: 2rem;
    padding-bottom: 1rem;
    height: calc(100vh - 130px);
    overflow-y: auto;
}

.user img {
    width: 100%
}

.user {
    position: relative;
    width: calc(100% / 7 - 0.3rem);
    min-width: 150px;
}

.name-user {
    background-color: rgba(49, 49, 49, 0.378);
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--zoom-white);
    font-size: smaller;
    padding: 0.25rem;
}

/* Endregion Main */

/* Region Footer */

#site_footer {
    height: 90px;
    width: 100%;
    background-color: var(--zoom-dark);
    color: var(--zoom-white);
    padding: 0 1rem;
}

.center {
    width: 50%;

}

.right, .left {
    width: 25%;
}

.fa-share-from-square {
    color: var(--zoom-success);
}

.meeting {
    height: 90px;
    background-color: var(--zoom-grey);
    width: 120px;
    padding: 2rem 0;
    text-align: center;
    color: var(--zoom-alert);
}

.right.d-flex {
    justify-content: end;
}